.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-bottom: 4rem;
}

.rain-icon {
  margin-top: 1rem;
  font-size: 5rem;
  margin-bottom: 10px;
  margin-right: 10px;
  font-weight: bold;
}

.wi-rain {
  margin-right: 10px;
  color: #4996e8;
}

.today-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day-date {
  padding: 0;
  font-size: 2em;
  margin-left: 2em;
  margin-top: -15px;
  margin-bottom: 1.75em;
  color: white;
}

.temperature {
  font-size: 15em;
}

.temperature .c {
  font-size: 0.4em;
  vertical-align: super;
  margin-left: 5px;
  margin-bottom: -10px;
}

.location {
  color: #fff;
  font-size: 2em;
  margin-bottom: 1em;
}

.edit-icon {
  font-size: 1.5rem; /* Ajuste la taille de l'icône de modification selon tes besoins */
  margin-bottom: 10px;
}

.feels-like {
  margin-top: 5px;
  color: #fff;
  font-size: 2.2em;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: #a59e9e;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px;
  margin-bottom: 3px;
}
