@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

.navbar {
  display: flex;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.bi-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1.5em;
}

.line1 {
  width: 5em;
  height: 5px;
  background-color: white;
}

.line2 {
  width: 2.5em;
  height: 5px;
  background-color: white;
}

.navbar-brand {
  align-items: center;
}

.navbar-title {
  font-family: "Poiret One", cursive;
  font-size: 3em;
  color: white;
  font-weight: bold;
  margin-right: 4em;
}
