.rain h3 {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 20px;
  }
  
  .weather {
    display: flex;
    margin: 0;
  }
  
  .sunny {
    margin-left: 15px;
    font-size: 17px;
    font-weight: bolder;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .hours {
    display: flex;
    margin-left: 4.5em;
    font-weight: 900;
    justify-content: space-around;
    margin-bottom: -10px;
  }
  
  .barre-laterale hr {
    border-top: 5px solid rgb(255, 255, 255);
    border-radius: 12px;
    width: 36%;
    margin-left: 32%;
    margin-top: 50px;
    margin-bottom: 0;
  }
  
  .graphs {
    display: flex;
    gap: 46px;
    align-items: last baseline;
    margin-left: 2em;
  }
  
  .barometer {
    height: 100px;
    width: 16px;
    background-color: #2f3262;
    transition: height 0.3s;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .barometer.rainy {
    background-color: #2f3262;
    height: 80px;
    margin-right: -15px;
  }
  
  .barometer.heavy-rainy {
    background-color: #f6c63f;
    height: 50px;
    margin-left: 15px;
  }
  