.weather-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 10px;
  font-weight: bolder;
  font-size: larger;
  font-size: 3em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.dote {
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  left: 60px;
  margin-top: 5px;
  margin-left: 2.5em;
}

.next {
  text-decoration: none;
  color: #5a86c7;
}

.weather {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
}

.weather-details {
  background-color: #1f2145;
  margin-left: 20px;
  border: 1px solid #3c3c66;
  padding: 10em 4em;
  margin-top: 15px;
  border-radius: 12em;
  scroll-snap-align: start;
}

.weather-time {
  font-size: 2em;
  font-weight: bolder;
  background-color: #1f2145;
  margin-top: -2.5em;
}

.weather-icon {
  font-size: 2em;
  margin-bottom: 5px;
  background-color: #1f2145;
  margin-top: 2em;
  margin-bottom: 2em;
}

.weather-temperature {
  font-size: 2em;
  font-weight: bolder;
  background-color: #1f2145;
  margin-bottom: -2.5em;
}

.lifted .weather-time,
.lifted .weather-temperature {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-weight: bolder;
  margin-left: 5px;
}

.lifted .weather-temperature {
  font-size: 3em;
  font-weight: 900;
}

.lifted .weather-icon {
  background-color: #dfe9f8;
  color: rgb(255, 255, 255);
  border-radius: 100%;
  padding: 0.75em 0.75em 0.75em 0.75em;
}

.lifted-icon {
  color: #4896e9;
  background-color: #dfe9f8;
  font-weight: bolder;
  font-size: 2em;
}

.lifted {
  transform: translateY(-5px); /* Ajuste le décalage ici */
  background-color: white;
  color: black;
  border: 2px solid #121b3b;
  box-shadow: 0 5px 10px #c2c3c7f8;
  transition: transform 0.3s, background-color 0.3s, color 0.3s, border 0.3s,
    box-shadow 0.3s;
}

.arrow {
  color: #5a86c7;
}
