@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

.nav-bar {
  display: flex;
}

.NavContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
  margin-left: 4em;
  gap: 7em;
}

.NavbarMenu {
  display: flex;
  align-items: center;
}

.BiList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1.5em;
}

.line11 {
  width: 5em;
  height: 5px;
  background-color: #28335e;
}

.line22 {
  width: 2.5em;
  height: 5px;
  background-color: #28335e;
}

.NavbarBrand {
  align-items: center;
}

.NavbarTitle {
  font-family: "Poiret One", cursive;
  font-weight: bold;
  margin-right: 4em;
  font-size: 3em;
}
